---
import { createChart } from 'lightweight-charts'
---

<div id="chart">
  
</div>

<script>
  import { createChart, ColorType } from 'lightweight-charts'
  import type { Eruption } from '../types'

  const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches

  const container = document.getElementById('chart') ?? 'chart'
  const chart = createChart(container, {
    layout: {
      textColor: isDark ? 'white' : 'black',
      background: {
        type: ColorType.Solid,
        color: isDark ? '#282828' : '#d7d7d7'
      }
    },
    grid: {
      vertLines: { color: '#444' },
      horzLines: { color: '#444' },
    }
  })
  const areaSeries = chart.addAreaSeries({
    lineColor: '#ef4444',
    topColor: '#ef4444',
    bottomColor: '#ef444410'
  })
  
  try {
    const res = await fetch('/eruptions')
    const eruptions: Eruption[] = await res.json()
    const chartData: {time: string, value: number}[] = []

    for (const eruption of eruptions) {
      const time = `${eruption.StartDateYear}-06-15`
      const data = chartData.find(mp => mp.time === time)

      if (data) data.value++
      else chartData.push({time, value: 1})
    }

    chartData.sort((a,b) => {
      const aTime = new Date(a.time).getTime()
      const bTime = new Date(b.time).getTime()

      return aTime - bTime
    })

    for (let i=1; i<chartData.length; i++) {
      const cd = chartData[i]
      const firstYear = new Date(cd.time).getFullYear()
      const lastChartData = chartData[i-1]

      if (!lastChartData) continue

      const lastYear = new Date(lastChartData.time).getFullYear()
      const differenceInYears = firstYear - lastYear - 1

      if (!differenceInYears) continue

      const newData = []

      for (let i=1; i<=differenceInYears; i++) {
        newData.push({
          time: `${lastYear + i}-06-15`,
          value: 0
        })
      }
      chartData.splice(i, 0, ...newData)
    }

    areaSeries.setData(chartData)
    chart.timeScale().fitContent()
    
  } catch (error) {
    console.error(error)
  }
</script>

<style>
  #chart {
    height: 300px;
  }
</style>
