---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		
		<title>{title}</title>
		<meta name="author" content="Dagamdev">
		<meta name="image" content="/image.png">
		<meta name="robots" content="index, follow">
		<meta name="date" content="2024-08-03">
		<meta name="theme-color" content="#ef4444">

		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="/image.png">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://volcanic-eruptions.pages.dev">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		font-family: system-ui, sans-serif;
	}

	body {
		padding: 16px;
	}

	main, footer {
		max-width: 1000px;
		margin-inline: auto;
	}

	h1 {
		font-size: 40px;
	}

	p {
		text-wrap: pretty;
	}

	footer {
		color: light-dark(#353535, #dbdbdb);
		padding: 32px 8px;
		text-align: center;
	}

	a { 
		color: #38bdf8;
	}
</style>
